.text_cont {
    font-size: 18px;
}
.text_cont h2 {
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}
.text_cont h2:hover {
    opacity: 1;
}
.text_cont .fa {
    margin-right: 25px;
    margin-left: 15px;
    width: 15px;
}
.text_cont .phones {
    font-size: 20px;
}
.text_cont a {
    text-decoration-line: none;
    font-weight: bold;
    color: black;
}
fieldset {
    margin: 10px;
}
fieldset h3 {
    font-weight: bolder;
}
#feedback-form {
    max-width: 400px;
    padding: 2%;
}
#feedback-form input[required],
#feedback-form textarea[required] {
    width: 100%;
    margin: 2px 0 2% 0;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 transparent;
}
#feedback-form input[required]:hover,
#feedback-form textarea[required]:hover {
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 transparent;
}
#feedback-form input[required]:focus,
#feedback-form textarea[required]:focus {
    outline: none;
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 4px rgba(35, 146, 243, .5);
    transition: .2s linear;
}
#feedback-form input[type="submit"] {
    padding: 2px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
}
#feedback-form input[type="submit"]:hover {
    opacity: 0.7;
}
#feedback-form input[type="submit"]:active {
    background-color: #bfbfbf;
    color: #000;
}
#feedback-form input[type="submit"]:focus {
    box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, .8), inset 0 -1px 0 rgba(0, 0, 0, .05);
}