    /*    ОСНОВНЫЕ ПРАВИЛА */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    h1,
    h2,
    h3,
    h4,
    p,
    hr,
    .p {
        margin: 16px;
    }
    h1,
    h2,
    h3 {
        font-family: 'Jura', sans-serif;
        font-weight: 100;
    }
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        height: 100%;
        font-family: 'Didact Gothic', sans-serif;
        background-image: url(../img/fon.png);
        background-color: rgba(0, 0, 0, 0.4);
    }
    main {
        min-height: 100%;
        height: auto !important;
        padding-bottom: 50px;
        /*
        background-image: -webkit-linear-gradient(left, #fff, #000 1px, #fff 1px, #fff 199px, #000 200px, #fff 200px, #fff 949px, #000 950px, #fff 950px, #fff 1199px, #000 1200px);
        background-image: linear-gradient(to right, #fff, #000 1px, #fff 1px, #fff 199px, #000 200px, #fff 200px, #fff 949px, #000 950px, #fff 950px, #fff 1199px, #000 1200px);
*/
        background-color: #fff;
    }
    .container {
        position: relative;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    }
    .container #go_top {
        position: absolute;
        bottom: 25px;
        right: 100px;
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .container #go_top:hover {
        opacity: 1;
    }
    .container #go_top img {
        width: 50px;
    }
    .up {
        width: 50px;
        display: block;
        text-align: center;
        border: 1px solid #777;
        padding: 5px 0;
        border-radius: 5px;
        background-color: #777;
        color: #fff;
    }
    .yellow-black {
        width: 100%;
        height: 5px;
        margin: 16px 0 16px 0;
        background-image: -webkit-repeating-linear-gradient(-45deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
        background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
        background-image: repeating-linear-gradient(-45deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
    }
    /*    ШАПКА */
    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        height: 550px;
        background-color: #fff;
    }
    header .logo {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        height: 250px;
    }
    header .slogan {
        display: inline-block;
        vertical-align: top;
        width: 685px;
        height: 250px;
        text-align: center;
    }
    header .slogan img {
        margin-top: 15px;
        margin-left: 10px;
        opacity: 0;
    }
    header .slogan img:first-of-type {
        margin-left: 0;
    }
    header .contact {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        height: 250px;
        padding-top: 16px;
    }
    header .contact .social {
        width: 250px;
        height: 50px;
    }
    header .social a {
        float: left;
        margin-left: 10px;
        text-align: center;
        text-decoration: none;
        font-family: 'Shadows Into Light', cursive;
        font-weight: bold;
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        line-height: 50px;
        color: rgba(0, 0, 0, 0.3);
        background-image: -webkit-repeating-linear-gradient(-45deg, #fff, #000, #000 1px, #fff 1px, #fff 6px);
        background-image: -webkit-repeating-linear-gradient(135deg, #fff, #000, #000 1px, #fff 1px, #fff 6px);
        background-image: repeating-linear-gradient(-45deg, #fff, #000, #000 1px, #fff 1px, #fff 6px);
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    header .social a:hover {
        border-radius: 50%;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
        border: none;
        color: rgb(255, 255, 255);
    }
    header .contact .phone {
        display: inline-block;
        width: 250px;
        height: 50px;
        margin-top: 55px;
        padding-left: 10px;
        font-size: 20px;
    }
    header .phone .fa {
        margin-right: 25px;
        margin-left: 15px;
        width: 15px;
    }
    header .contact img {
        margin-top: 20px;
        opacity: 0.5;
    }
    header #slider {
        width: 1000px;
        height: 270px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    header .slidewrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 270px;
        margin: 0;
        padding: 0;
    }
    header .slidewrap li {
        width: 1000px;
        height: 270px;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    header .slidewrap li .more {
        position: absolute;
        left: 50px;
        bottom: 10px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2px;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        background-color: #777;
        color: #fff;
        text-align: center;
        line-height: 2em;
        transition: 0.2s;
    }
    header .slidewrap li .more:hover {
        background-color: #000;
    }
    header .slidewrap li .more:active {
        transform: scale(1.1);
    }
    /*    ГЛАВНЫЙ */
    #left-sidebar {
        width: 199px;
        float: left;
    }
    #right-sidebar {
        width: 249px;
        float: right;
        padding-left: 15px;
    }
    #right-sidebar h3 {
        text-align: center;
        vertical-align: middle;
    }
    #right-sidebar hr {
        width: 124.5px;
        margin: 24px auto;
    }
    #right-sidebar .news ul {
        margin-left: 16px;
    }
    #right-sidebar .news ul li {
        list-style-type: none;
    }
    #right-sidebar .news ul li a {
        text-decoration: none;
        color: #000;
        margin-left: 10px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    #right-sidebar .news ul li a:hover {
        text-decoration: underline;
        color: #777;
        margin-left: 15px;
    }
    #right-sidebar .help img {
        margin-left: 10px;
    }
    section {
        width: 749px;
        height: 100%;
        float: left;
        padding: 0 5px;
        padding-bottom: 15px;
        margin-top: 25px;
    }
    section .h1 {
        height: 70px;
        line-height: 70px;
    }
    section .h1 img {
        float: left;
        margin: 7.5px;
    }
    section .screen_rotation {
        display: none;
    }
    section .win {
        text-align: center;
        padding: 20px;
        margin-top: 50px;
        font-size: 30px;
        border-radius: 5px;
        background-image: -webkit-repeating-linear-gradient(-45deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
        background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
        background-image: repeating-linear-gradient(-45deg, #000, #000 5px, #ffff00 5px, #ffff00 10px);
    }
    section .win strong {
        text-transform: uppercase;
    }
    section .win em {
        background-color: #fff;
        padding: 5px;
        box-shadow: 1px 1px 5px 2px #000;
    }
    /*    ПОДВАЛ */
    footer {
        height: 50px;
        padding-top: 15px;
        position: absolute;
        bottom: 0;
        width: 749px;
        margin-left: -4px;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    footer {
        clear: both;
    }
    .cop {
        margin: 0 auto;
        width: 183px;
    }
    .cop img {
        width: 115px;
    }
    /*    clearfix */
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    /* For IE 6/7 (trigger hasLayout) */
    .clearfix {
        *zoom: 1;
    }